* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	min-height: 100vh;
}

header {
	position: relative;
	right: 0;
	left: 0;
	top: 0;
	padding: 0px 7%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
}

.navbar ul {
	list-style: none;
}

header .navbar ul li {
	position: relative;
	float: left;
	/*mete los demas li dentro del ul principal*/
}

header .navbar ul li a {
	font-size: 15px;
	padding: 20px;
	color: black;
	display: block;
}

header .navbar ul li a:hover {
	cursor: pointer;
	background-color: lightgray;
	color: black;
	/*esto se aplica a todo el header*/
}

header .navbar ul li ul {
	position: absolute;
	left: 0;
	width: 100px;
	background-color: #fff;
	display: none;

}

header .navbar ul li ul li {
	width: 100%;
	border-top: 1px solid black;
}

header .navbar ul li ul li ul {
	left: 200px;
	top: 0;
}

header .navbar ul li:hover>ul,
header .navbar ul li:focus-within>ul {
	display: initial;
}

/*combierte los demas <a> en menu desplegable*/

#menu-bar {
	display: none;
}

/* esconde checkbox y label*/
header label {
	display: none;
}

.learn {

	font-size: 15px;
	width: 5rem;
	text-transform: none;
	background-color: #fff;
	border: none;
	cursor: pointer;

}

.reg {
	font-size: 15px;
	width: 5rem;
	text-transform: none;
	background-color: #fff;
	border: 0.5px solid black;
	border-radius: 5px;
	cursor: pointer;
	height: 4vh;
}
.hero-text {
	text-align: left;
	text-transform: none;
}

.hero-heder {
	font-size: 3.5rem;
	color: black;
	left: 0;
	text-align: left;
	font-weight: bolder;
}

.hero-parr {
	margin: 0 0 10%;
	color: gray;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: left;


}

.btn--learn {

	width: 10rem;
	height: 3rem;
	background-color: black;
	color: #fff;
	border-radius: 10px;
	text-transform: none;
}

.btn--learn:hover {
	background-color: #fff;
	color: black;
	cursor: pointer;

}

.client-list ul {
	text-decoration: none;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: left;
	margin: 2rem;
	padding: 1 rem;
	left: 0;
}

@media(min-width: 600px) {

	.hero {
		margin: 10rem;
		display: flex;
		flex-direction: row-reverse;
	}

	.hero-image {
		width: 20rem;
		height: 50vh;
	}
}

@media(max-width: 600px) {

	header {
		padding: 20px;
	}

	.learn {
		display: none;
	}

	.reg {
		display: none;
	}

	header label {
		display: initial;
	}

	header .navbar {
		position: absolute;
		top: 100%;
		right: 0;
		background-color: #fff;
		border-top: 1px solid black;
		display: none;
	}
header .navbar ul li{
	width: 100%;
	text-align: rigth;
}
header .navbar ul li ul{
	position: relative;
	 width: 100%
	}

header .navbar ul li ul li{
	background-color: #eee;
}

header navbar ul li ul li ul{
	width: 100%; 
	left: 0;
}
label{background: url(images/icon-menu.svg);
width: 5rem;
height: 3vh;
}
#menu-bar:checked~.navbar{display: initial;}

#menu-bar:checked~label{background: url(images/icon-close-menu.svg);
background-repeat: no-repeat;
background-size: contain;
}
.hero {
	margin: 5rem;
	width:100%;
}

.hero-text {
	margin:10%;
}
.hero-image{height: 20rem;
width: 70%;}
    }